@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h4>Add a new Book</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new Book" />
}
<p>@Html.ActionLink("Show all Books", "Index")</p>