@{
  Layout = "_Layout";
}

<br>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("See all Books", "Index", "Books")</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("See all Authors", "Index", "Authors")</button>