@{
  Layout = "_Layout";
}
<h1>Welcome to the Library Catalog!</h1>
<br>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("See all Books", "Index", "Books")</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("See all Authors", "Index", "Authors")</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"><p>@Html.ActionLink("Create an account", "Index", "Account")</p></button>