@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Author>

<h1>Authors for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Author author in Model)
    {
      <li>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</li>
    }
  </ul>
} 
else
{
  <h3>No Authors have been added yet!</h3>
}

<p>@Html.ActionLink("Add new Author", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>